.TopBar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    font-weight: 400;

    .Logo{
        text-decoration: none;
        color: #000;
        cursor: pointer;
    }

}

.Hero{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 3rem 0;
    .Title{
        font-size: 2rem;
        font-weight: 700;
    }

    .Subtitle{
        font-size: 1.1em;
        padding:1rem;
    }
}

.TextBox{
   
    padding: 2rem;
    line-height: 145%;
}


.ImageHolder{
    margin: 0 2rem;
    height: 320px;
    .outer{
        height: 100%;
        width: 100%;
    display: grid;
    grid-template-rows: 80% 20%;
    padding: 0.5rem;
    border: 1px solid #00000070;
    
    .inner{
        display: flex;
        align-items: center;
        justify-content: center;
     

        overflow: hidden;

        border: 2px solid #00000070;

        img{
            width: 100%;
        }
    }

    .caption{
        margin-left: auto;
        margin-right: auto;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

}
    
}